<div [@routerTransition]>
    <app-page-header [heading]="'PERSONA'" [icon]="'fa-male'"></app-page-header>



    <div class="page-header">
        <h1>Formulario para la creación de un Coordinador</h1>
        <hr>
    </div>

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend></legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nombre:</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="Introducir el nombre " class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Apellido:</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="Introducir el apellido" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Cédula:</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="Introducir la cédula" class="form-control input-md" required="">

                </div>
            </div>



            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Edad:</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="Introducir la edad" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">Dirección: </label>
                <div class="col-md-5">
                    <textarea rows="5" class="form-control" id="textarea" name="textarea"></textarea>
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Celular:</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="Introducir el celular" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Email:</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="Introducir el email" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-info">Guardar</button>
                </div>
            </div>





        </fieldset>
    </form>



</div>