<div class="card-body">
    <div class="list-group">
        <a href="http://www.yavirac.edu.ec/web/" target="_blank" class="list-group-item clearfix d-block">
            <i class="fa fa-home fa-fw"></i> Pagina ITSY
            <span class="float-right text-muted small"><em>página oficial</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-facebook fa-fw"></i> Facebook
            <span class="float-right text-muted small"><em>página oficial</em></span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-youtube fa-fw"></i> Youtube
            <span class="float-right text-muted small"><em>página oficial</em></span>
        </a>
        <a href="http://www.yavirac.edu.ec/inti/" target="_blank"  class="list-group-item clearfix d-block">
            <i class="fa fa-language fa-fw"></i>Idiomas
            <span class="float-right text-muted small"><em>página oficial   </em></span>
        </a>
        
      
    </div>
    <!-- /.list-group -->  

</div>


<div class="card-body">
    <ul class="timeline">     
 <li>
                <div class="timeline-badge danger"><i class="fa fa-paper-plane"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Contanto</h4>
                    </div>
                    <div class="timeline-body">
                            <div class="timeline-heading">
                      <p class="fa fa-location-arrow" ALIGN="justify"> Dirección: Ambato y García Moreno</p>
                      <p  class="fa fa-phone" ALIGN="justify"> Teléfono: 0995225249</p>
                      <p  class="fa fa-envelope" ALIGN="justify"> Correo electrónico: info@yavirac.edu.ec</p>
                    </div>
                    </div>
                </div>
            </li>
    </ul>
</div>

